# Backend Address Configuration

# Homer Server
ak2316.sh {
    tls ./certs/ak2316.sh.pem ./certs/ak2316.sh-key.pem

    reverse_proxy localhost:9000
}

# Firefly
firefly.ak2316.sh {
    tls ./certs/_wildcard.ak2316.sh.pem ./certs/_wildcard.ak2316.sh-key.pem

    reverse_proxy localhost:9001
}

# Paperless-ng
paperless.ak2316.sh {
    tls ./certs/_wildcard.ak2316.sh.pem ./certs/_wildcard.ak2316.sh-key.pem

    reverse_proxy /* localhost:9002
}